.video-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.video {
    /* display: block; */
    /* margin: 0 auto; */
    width: 600px;
}

.video-controls-container {
    display: flex;
    height: 100%;
    width: 600px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.6923144257703081) 0%, rgba(255,255,255,0) 40%);
    opacity: 0;

    &:hover {
        opacity: 1;
    }

    &.show-controls {
        opacity: 1;
    }
}

.progress-button {
    align-self: flex-end;
    margin-left: 50px;
    margin-bottom: 20px;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 20px;
  
    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    cursor: pointer;

    &.play-button {
        border-style: solid;
        border-width: 10px 0 10px 20px;
    }

    &.pause-button {
        border-style: double;
        border-width: 0px 0 0px 20px;
    }

    &:hover {
        border-color: transparent transparent transparent #eee;
    }
}